# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# enviornment stuff
.env
.eslintcache

# dependencies
/node_modules

# misc
.swp
.DS_Store

/.idea

/.vscode
/build

# python local env
/py/bin
/py/lib
/py/include


/source/default-token-list
/source/install.sh
/source/quickswap-default-token-list
